.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  background: #f8fafc;
  overflow-y: auto;
  border-radius: 15px;
  margin: 8px;
  border: 1.5px solid #e2e8f0;
}

/* responsive */
@media (max-width: 768px) {
  .content {
    padding: 16px;
  }
}