.container {
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

/* 📱 Tablet */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 📱 Mobile */
@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }
}