.container {
  padding: 20px;
}

/* HEADER */
.header {
  margin-bottom: 20px;
}

.backBtn {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.company {
  font-size: 14px;
  color: #6b7280;
}

.deleteBtn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* LEFT */
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIGHT */
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .headerContent {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .deleteBtn {
    width: 100%;
  }
}